* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}
box.modules-right,
box.modules-center,
box.modules-left {
  padding:0 8px 0px 8px;
}

#battery,
#temperature,
#clock,
#tray,
#pulseaudio,
#backlight,
#network,
box#window
{
  padding:0px 10px;
  background: rgba(0,0,0,0.8);
  border-radius:10px;
  opacity: 1;
  border: none;
  color:white;
}

#window {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 10px;
  color:white;
}

tooltip {
  background: rgba(0,0,0,1);
  color: @tool-color;
  border-radius: 10px;
}

#workspaces{
  background: rgba(0,0,0,0.8);
  border-radius:10px;
  opacity: 1;
  border: none;
  color:white;
  padding:4px;
}
#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 4px;
  border-radius: 6px;
  color: #ffffff;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
  background: #FFFFFF;
  color: #000000;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
  background: #555555;
  border: none;
}
/*------------------------------------------*/
